# Red Neuronal Recurrente usando TensorFlow 

## Explicación sobre el funcionamiento de la RNN

La red neuronal recurrente o RNN permite modelar unidades de memoria para conservar datos y modelar dependencias a corto plazo. También se utiliza en pronósticos de series de tiempo para la identificación de correlaciones y patrones de diseño. También ayuda a producir resultados predictivos para datos secuenciales al ofrecer un comportamiento similar al del cerebro humano. 

La estructura de una red neuronal artificial es relativamente simple y se trata principalmente de multiplicación de matrices. Durante el primer paso, las entradas se multiplican por pesos inicialmente aleatorios y el sesgo se transforma con una función de activación y los valores de salida se utilizan para hacer una predicción. Este paso da una idea de qué tan lejos está la red de la realidad 

La métrica que se aplica es la pérdida. Cuando mayor sea la función de pérdida, má tonto será el modelo. Para mejorar el conocimiento de la red, se requiere cierta optimización ajustando los pesos de la red. El descenso del gradiente estocástico es el método que se empleayed para cambiar los valores de los pesos en la dirección correcta. Una vez realizado el ajuste, la red puede utilizar otro lote de datos para probar sus nuevos conocimientos

El error es menor que antes, aunque no lo suficientemente pequeño. El paso de optimización se realiza de forma iterativa hasta que se minimiza el error, es decir, no se puede extraer más información

El problema de este tipo de modelo es que no tiene memoria. Significa que la entrada y la salida son independientes. En otras palabras, al modelo no le importa lo que vino antes. Pero esto resulta un problema porque puede que sea necesario predecir series de tiempo o oraciones porque la red necesita tener información sobre datos históricos o palabras pasadas. Y para superar este problema nace la RNN

La RNN es una clase de red neuronal artificial en el que la conexión entre diferentes nodos forma un grafo dirigido para dar un comportamiento dinámico temporal. Ayuda a modelar datos secuenciales que se derivan de redes de alimentación directa. Funciona de manera similar al cerebro humano para ofrecer resultados predictivos. 

Una RNN es una red neuronal tradicional pero se le agrega un estado de memoria a las neuronas. Este paso es sencillo. 

Tomemos un modelo simple con una sola neurona alimentada por un lote de datos. En una red neuronal tradicional, el modelo produce la salida multiplicando la entrada por el peso y la función de activación. Con un RNN, esta salida se envía a sí misma varias veces. Llamamos *hora de caminar* la cantidad de tiempo que la salida se convierte en la entrada de la siguiente multiplicación de matrices 

![alt-img](img/img_1.png)

En esta imagen podemos ver que la red está compuesta por una neurona. La red calcula la multiplicación de matrices entre la entrada y el peso y agrega no linealidad con la función de activación. Se convierte en la salida en $t-1$. Esta salida es la entrada de la segunda multiplicación de matrices

## Codificación

### Importación

El proyecto requiere de las librerías de `Pandas` y `Numpy` para la manipulación de datos, `Matplotlib.pyplot` para la visualización de datos, `scikit-learn` para el escalado y la evaluación y `TensorFlow` para la modelación

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import tensorflow.python.keras.layers as layers

from pandas import DataFrame

from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.optimizer_v1 import SGD

np.random.seed(455)

### Análisis de datos

In [13]:
dataset = pd.read_csv(
  'database/database_1.csv',
  index_col='Date',
  parse_dates=['Date']
).drop( [ 'Dividends', 'Stock Splits' ], axis=1 )
dataset.head()

                Open      High       Low     Close     Volume
Date
2006-05-25  3.748967  4.283869  3.739664  4.279217  395343000
2006-05-26  4.307126  4.348058  4.103398  4.179680  103044000
2006-05-30  4.183400  4.184330  3.986184  4.093164   49898000
2006-05-31  4.125723  4.219679  4.125723  4.180608   30002000
2006-06-01  4.179678  4.474572  4.176887  4.419686   62344000

La función `describe` nos permite analizar los datos en profundidad

In [14]:
dataset.describe()

              Open         High          Low        Close        Volume
count  3872.000000  3872.000000  3872.000000  3872.000000  3.872000e+03
mean    104.896814   105.956054   103.769349   104.882714  1.232250e+07
std     106.245511   107.303589   105.050064   106.168693  1.759665e+07
min       3.748967     4.102467     3.739664     4.083861  6.411000e+05
25%      22.347203    22.637997    22.034458    22.300391  3.529475e+06
50%      70.810079    71.375896    70.224002    70.856083  5.891750e+06
75%     147.688448   148.645373   146.822013   147.688438  1.319775e+07
max     392.653890   400.521479   389.747812   394.685730  3.953430e+08

Podemos usar `Close` u `Open` pero usaremos `High` para entrenar el modelo. 

Ahora veremos si en el conjunto de datos falta algún valor

In [15]:
dataset.isna().sum()

Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64